{% extends 'base.html' %}
{% block content %}
		<p class="text-small">
            <h1>About Us</h1>
            The publisher Chronicle Books has a super simple, text-heavy About page,
             but it works well due to the clear headlines and charming details added to their story.

            For example, the company is headquartered in an old maritime machine shop  
            sharing that information helps you understand the brand is a little quirky.
        </p>
			
		

{% endblock %}
