{% extends 'base.html' %}
{% block content %}

		<p class="text-small">
			C language Tutorial with programming approach for beginners and
			professionals, helps you to understand the C language tutorial easily. Our
			C tutorial explains each topic with programs. The C Language is developed
			by Dennis Ritchie for creating system applications that directly interact
			with the hardware devices such as drivers, kernels, etc. C programming is
			considered as the base for other programming languages, that is why it is
			known as mother language. It can be defined by the following ways: Pause
			Next Unmute Current TimeÂ 0:06 / DurationÂ 18:10 Â Fullscreen Mother
			language System programming language Procedure-oriented programming
			language Structured programming language Mid-level programming language
		</p>

{% endblock %}